.under-construction img
{
    width: 100%;
    height: 100%
}

.under-construction
{
    background-color: #EEE
}


































































































































































